.profile{
    background-color: rgba(231, 226, 216, 0.281);
    height: auto;
    width: 400px;
    margin-left: 35%;
    padding: 30px;
    margin-top: 110px;
    margin-bottom: 20px;
    display: inline-block;
    box-shadow: 12px 12px 12px #1e1e1e50,
               -8px -8px 8px #fcfcf0 ;
    transform: rotateX(50%);
    border-style: groove;
}

.prof{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 5px solid #000;
    display: block;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
}

.txt{
    font-size: 30px;
    text-align: center;
}

.Details{
    display: inline-block;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    color: rgb(58, 57, 57);
}

.view{
    display: flex;
    flex-direction: column;
}

.view h3{
    margin-left: 20px;
}

table {
    border-collapse: collapse;
  }

table, th, td {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-style: ridge;
    border: 1px solid black;
  }

.ody{
    background: linear-gradient(to bottom right, rgba(152, 156, 170, 0.76),white 80%);
}

footer{
    background: linear-gradient(white);
}